STORAGE_PROVIDER=s3
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
SUPABASE_JWKS_URL=https://your-project.supabase.co/auth/v1/.well-known/jwks.json

DATABASE_URL=postgresql://user:password@host:6543/postgres?pgbouncer=true&connection_limit=10
DIRECT_URL=postgresql://user:password@host:5432/postgres

S3_ACCESS_KEY_ID=your_s3_access_key
S3_SECRET_ACCESS_KEY=your_s3_secret_key
S3_ENDPOINT=https://your-project.supabase.co/storage/v1/s3
S3_REGION=ap-northeast-2
BACKEND_URL=https://nivoraapi.abduljabbartech.me
PORT=3005

ADMIN_EMAIL=admin@example.com
ADMIN_SECRET=your_admin_secret

WHATSAPP_API_URL=https://graph.facebook.com/v25.0
WHATSAPP_PHONE_NUMBER_ID=your_whatsapp_phone_number_id
WHATSAPP_BUSINESS_ACCOUNT_ID=your_whatsapp_business_account_id
WHATSAPP_APP_ID=your_whatsapp_app_id
WHATSAPP_APP_SECRET=your_whatsapp_app_secret
WHATSAPP_ACCESS_TOKEN=your_whatsapp_access_token
WHATSAPP_ADMIN_NUMBER=8801XXXXXXXXX
WHATSAPP_TEMPLATE_NAME=jaspers_market_order_confirmation_v1
WHATSAPP_VERIFY_TOKEN=your_whatsapp_verify_token_here
